/*AUTHENTICATION*/

.auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f4064;
    position: relative;
}

.auth-form {
    width: 100%;
    max-width: 420px;
    padding: 40px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.3);
}

.auth-discription {
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.form-group input {
    padding: 12px 14px;
    border: 2px solid #d6dce3;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s ease;
}

.form-group input:focus {
    border-color: #316ca7;
}

.form-group label {
    font-weight: 600;
}

.submit-button {
    width: 100%;
    padding: 12px 24px;

    border: none;
    border-radius: 6px;

    background-color: #316ca7;
    color: white;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #4285c7;
}

.auth-switch {
    margin-top: 20px;
    text-align: center;
}

.auth-switch a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-switch a:hover {
    color: #4da6ff;
}

/*BACK*/

.back-home {
    position: absolute;
    top: 30px;
    left: 40px;

    color: white;
    text-decoration: none;
    font-weight: 600;

    transition: color 0.2 ease;
}

.back-home:hover {
    color: #4da6ff;
}

/*ERROR*/

.error-message {
    color: #c62828;
    font-size: 14px;
}